img {
  border: 0px solid white;	
}

.content {
  background-color: white;
  border: 1px solid #B4B4B4;
  margin: 15px 10px 17px 10px;
  border-radius: 8px 8px;
  padding: 12px 10px 12px 10px;
  color: black;
}

/*
#progress {
  padding-top: 3em;
  padding-left: 3em;
}
*/

.searchresult {
  overflow: visible;
  white-space: normal;
}

#searchcounter, .clonedsearchcounter {
  text-align: center;
  margin: 0.5em;
}