<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html>
<html manifest="music.manifest">
<head>
<title>moBibl (beta2)</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="icon" type="image/png" href="/iui/iui-favicon.png">
<link rel="apple-touch-icon" href="/iui/iui-logo-touch-icon.png" />
<link rel="stylesheet" href="/iui/iui.css" type="text/css" />
<link rel="stylesheet" href="/iui/iui-panel-list.css" type="text/css" />
<link rel="stylesheet" title="Default" href="/iui/t/default/default-theme.css"  type="text/css"/>
<link rel="alternate stylesheet" title="Default using Gradients" href="/iui/t/defaultgrad/defaultgrad-theme.css"  type="text/css"/>
<link rel="alternate stylesheet" title="iPhoneDevCamp" href="/iui/t/ipdc/ipdc-theme.css"  type="text/css"/>
<script type="application/x-javascript" src="/iui/iui.js"></script>
<script type="application/x-javascript" src="/iui/js/iui-theme-switcher.js"></script>
</head>

<body>

<div class="toolbar">
	<h1 id="pageTitle"></h1>
	<a id="backButton" class="button" href="#"></a>
	<!-- a class="button" href="#searchForm">Search</a -->
</div>

<div id="home" title="moBibl (beta2)" class="panel" selected="true">
<ul>
    <li><a href="#choose">Velg bibliotek</a></li>
</ul>
</div>