{include file='html_header.tmpl' title=$config.lib.name}

<div id="home">
	<div class="toolbar">
	<h1>{$config.lib.name}</h1>
	</div>
	<ul class="edgetoedge">
		<li class="arrow"><a href="#sok">Søk i katalogen</a></li>
		{foreach from=$config.lib.nav key=id item=nav}
		<li class="arrow"><a href="#{$config.lib.lib}_{$id}">{$nav.title}</a></li>
		{/foreach}
		<li class="arrow"><a href="#inst">Innstillinger</a></li>
		<li class="arrow"><a href="#debug">Debug</a></li>
	</ul>
	{$config.lib.frontpage}
</div>

<div id="sok">
    <div class="toolbar">
	<h1>Søk i katalogen</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	    <form method="get" action="search.php">
		<p>
		<input type="text" name="q" value="" />
		<input type="hidden" name="lib" value="hig" />
		<input type="hidden" name="sorter" value="aar" />
		<input type="hidden" name="orden" value="synk" />
		<input type="submit" value="Søk" /
		</p>
		</form>
	</div>
</div>

{foreach from=$config.lib.nav key=id item=nav}
<div id="{$config.lib.lib}_{$id}" class="{$nav.type}">
	<div class="toolbar">
	<h1>{$nav.title}</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
</div>
{/foreach}

<div id="inst" class="section">
	<div class="toolbar">
	<h1>Innstillinger</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div class="content">
	<p>Endre innstillinger</p>
	</div>
</div>

<div id="debug" class="section">
	<div class="toolbar">
	<h1>Debug</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	</div>
</div>

{include file='html_footer.tmpl'}