{include file='html_header.tmpl' title=$name}

<div id="home">
	<div class="toolbar">
	<h1>{$name}</h1>
	</div>
	<ul class="edgetoedge">
		<li class="arrow"><a href="#sok">Søk i katalogen</a></li>
		<li class="arrow"><a href="#praktisk">Praktisk informasjon</a></li>
		<li class="arrow"><a href="#hig_news">Nytt fra biblioteket</a></li>
		<li class="arrow"><a href="#tilvekst">Tilvekstlister</a></li>
		<li class="arrow"><a href="#lenker">Lenker</a></li>
		<li class="arrow"><a href="#inst">Innstillinger</a></li>
		<li class="arrow"><a href="#debug">Debug</a></li>
	</ul>
</div>

<div id="sok">
    <div class="toolbar">
	<h1>Søk i katalogen</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	    <form method="get" action="search.php">
		<p>
		<input type="text" name="q" value="" />
		<input type="hidden" name="lib" value="hig" />
		<input type="hidden" name="sorter" value="aar" />
		<input type="hidden" name="orden" value="synk" />
		<input type="submit" value="Søk" /
		</p>
		</form>
	</div>
</div>

<div id="praktisk">
	<div class="toolbar">
	<h1>Praktisk informasjon</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	<ul>
	<li>Åpningstider:
		<ul>
		<li>Man. - tor.: 08.30-18.00</li>
		<li>Fre.: 08:30-15.30</li>
		</ul>
	</li>
	<li>Telefon: +47 61 13 51 31 </li>
	<li>E-post: <a href="bibliotek@hig.no">bibliotek@hig.no</a></li>
	</ul>
	</div>
</div>

<div id="hig_news">
	<div class="toolbar">
	<h1>Nytt fra biblioteket...</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
</div>

<div id="tilvekst">
	<div class="toolbar">
	<h1>Tilvekstlister</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	<p>Nye bøker i biblioteket</p>
	</div>
</div>

<div id="lenker">
	<div class="toolbar">
	<h1>Lenker</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	<p>Lenker, fra RSS</p>
	</div>
</div>

<div id="inst">
	<div class="toolbar">
	<h1>Innstillinger</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	<p>Endre innstillinger</p>
	</div>
</div>

<div id="debug">
	<div class="toolbar">
	<h1>Debug</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	</div>
</div>

{include file='html_footer.tmpl'}