{include file='html_header.tmpl' title=$config.lib.name theme=$config.lib.theme}

<div id="home">
	<div class="toolbar">
	<h1>{$config.lib.name_short}</h1>
	</div>
	<ul class="edgetoedge">
		<li class="arrow"><a href="#search">Søk i katalogen</a></li>
		{foreach from=$config.lib.nav key=id item=nav}
		<li class="arrow"><a href="#{$config.lib.lib}_{$id}">{$nav.title}</a></li>
		{/foreach}
		<li class="arrow"><a href="#choose">Velg bibliotek</a></li>
		<li class="arrow"><a href="#bokhylla">Bokhylla</a></li>
		{if $config.debug}
		<li class="arrow"><a href="#debug">Debug</a></li>
		{/if}
	</ul>
	{$config.lib.frontpage}
</div>

<div id="search" class="section">
    <div class="toolbar">
	<h1>Søk i katalogen</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	    <form method="post">
		<ul>
		<li><input placeholder="Forfatter, tittel, emne..." type="text" id="q" name="q" value="" /></li>
		<li id="searchformsubmit"><input type="submit" value="Søk" /></li>
		</ul>
	    </form>
	</div>
        <div id="searchresults"></div>
</div>

{foreach from=$config.lib.nav key=id item=nav}
<div id="{$config.lib.lib}_{$id}" class="{$nav.type}">
	<div class="toolbar">
	<h1>{$nav.title}</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
        <div id="feedprogresscontainer"></div>
</div>
{/foreach}

<div id="settings" class="section">
	<div class="toolbar">
	<h1>Innstillinger</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	    <form method="post">
		<ul>
                <li class="arrow"><a href="#choose" class="flip">Velg et annet bibliotek</a></li>
                </ul>
                <ul>
		<li><p>Velg tema</p>
		       <select name="theme" id="theme">
		       <option value="apple">Apple</option>
		       <option value="jqt">JQT</option>
		    </select>
		</li>
		<li><input type="submit" value="Lagre" /></li>
		</ul>
	    </form>
	</div>
</div>

{if $config.debug}
<div id="debug" class="section">
	<div class="toolbar">
	<h1>Debug</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	</div>
</div>
{/if}

<div id="choose" class="section">
	<div class="toolbar">
	<h1>Velg bibliotek</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
        <ul>
        {foreach from=$libraries key=lid item=lib}
          <li><a href="?lib={$lid}">{$lib.name}</a></li>
        {/foreach}
        </ul>
	</div>
</div>

<div id="bokhylla" class="section">
	<div class="toolbar">
	<h1>PDF fra Bokhylla.no</h1>
	<a class="button back" href="#">Tilbake</a>
	</div>
	<div>
	<ul id="bokhyllaul">
	</ul>
	<div id="bokhyllaprogresscontainer"></div>
	<a style="margin:0 10px;color:rgba(0,0,0,.9)" href="#" class="whiteButton" id="bokhyllamore">Vis fler</a>
	<a style="margin:0 10px;color:rgba(0,0,0,.9)" href="#" class="whiteButton" id="bokhyllarand">Vis tilfeldig</a>
	</div>
</div>

{include file='html_footer.tmpl'}