{include file='html_header.tmpl' title=$name}

<p>Søk i katalogen:</p>
<div class="searchform">
	<form method="get" action="">
	<p>
	<input type="text" name="q" value="" />
	<input type="hidden" name="lib" value="hig" />
	<input type="hidden" name="sorter" value="aar" />
	<input type="hidden" name="orden" value="synk" />
	<input type="submit" value="Søk" />
	</p>
	</form>
</div>



{include file='html_footer.tmpl'}