# Compiled Smarty-templates
tmpl/templates_c/*

# Temporary files produced by Kate
*~

# Ignore config.php
# config-dist.php should be renamed config.php after installation
config.php

# Ignore alle the Glitre files
glitre/*

# Ignore anything that starts with an underscore
_*

# Temp files from the feed reader
feeds/feedcache/*
*.spc

# The file from Bolhylla
public.txt
bokhylla.inc
